body {
    margin: 0;
    background: url(bgImg2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    margin-top: 15vh;
    text-align: center;
    font-size: 1.6em;
    font-family: 'Josefin Sans', sans-serif;
}

button {
    margin-left: 1%;
    border-radius: 20px;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
    text-align: center;
    line-height: 1.5;
}

.hide {
    display: none;
}
